@{ ViewData["Title"] = "Составление заявки";}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <div>
        <h3>Форма оформления Заявки</h3>
        <p>Для оформления заявки заполните следующие поля:</p>
        <form method="post" class=" = " needs-validation">
            <div class="row g-3 p-3">
                @for (int i = 0; i < ViewBag.Purchase.Fields.Count; i++)
                {
                    <div class="col-sm-6">
                        <label class="form-label">@ViewBag.Purchase.Fields[i].Name</label>
                        <input name="fields[@i].DefaultValue" class="form-control" value="@ViewBag.Purchase.Fields[i].DefaultValue">

                        <div hidden="true">
                            <input name="fields[@i].Name" value="@ViewBag.Purchase.Fields[i].Name" /><br />
                            <input name="fields[@i].Alias" value="@ViewBag.Purchase.Fields[i].Alias" /><br />
                            <input name="fields[@i].FieldId" value="@ViewBag.Purchase.Fields[i].FieldId" /><br />
                        </div>


                    </div>
                }
            </div>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</body>
</html>

@*@functions{
        Field[] Fields { get; set; } = { };

        public void OnPost(Field[] fields)
        {
            Fields = fields;
        }

        public class Field{
            string Name;
            string Alias;
            string DefaultValue;
            int PurchaseId;
        }
    }*@
